@model Futbol.FaseEquipo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FaseEquipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TorneoEquipo.tor_equ_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TorneoEquipo.tor_equ_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo.grupo_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.grupo_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TorneoEquipo1.tor_equ_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TorneoEquipo1.tor_equ_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fase_equ_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
