@model IEnumerable<Futbol.Equipo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap drp-lst">
                    <h4>Equipos</h4>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="@Url.Action("Create", "Equipos")">Crear Equipo</a>
                    </div>

                    <div class="asset-inner">
                        <br />
                        <table id="equipos">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.equipo_nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.equipo_representante)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.equipo_celular)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.equipo_telefono)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.equipo_estado)
                                    </th>
                                    <th>
                                        Imagen
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.equipo_nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.equipo_representante)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.equipo_celular)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.equipo_telefono)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.equipo_estado)
                                        </td>
                                        <td>
                                            <img src="@Url.Content(item.Imagen.imagen_path)" alt="Alternate Text" width="100" height="100" />
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="@Url.Action("Details", "Equipos", new {id = item.equipo_id})">Ver</a>
                                            <a class="btn btn-primary" href="@Url.Action("Edit", "Equipos", new {id = item.equipo_id})">Editar</a>
                                            <button data-equipo-id="@item.equipo_id" class="js-delete btn btn-primary">Borrar</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#equipos").DataTable();
            $("#equipos").on("click",".js-delete", function() {
                var button = $(this);
                bootbox.confirm("¿Esta seguro que desea eliminar esta equipo?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "../api/Equipos/" + button.attr("data-equipo-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
