<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img runat="server" class="main-logo" src="@Url.Content("../../Content/img/logo/logo.svg")" alt="" /></a>
            <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="index.html">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-click-non">Torneo</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a title="Dashboard v.1" href="@Url.Action("Details","Torneos", new { id_torneo = 16 })"><span class="mini-sub-pro">Ver mi torneo</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Equipos</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Professors" href="@Url.Action("Index","Equipos", new { id_torneo = 16 })"><span class="mini-sub-pro">Ver Equipos</span></a></li>
                            <li><a title="Add Professor" href="@Url.Action("Create","Equipos")"><span class="mini-sub-pro">Inscribir equipo</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-students.html" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Pagos</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Students" href="@Url.Action("Index","Pagos")"><span class="mini-sub-pro">Ver Pagos</span></a></li>
                            <li><a title="Add Students" href="@Url.Action("Create","Pagos")"><span class="mini-sub-pro">Registrar Pagos</span></a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-students.html" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Jugadores</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Students" href="@Url.Action("Index","Jugadors")"><span class="mini-sub-pro">Ver Jugadores</span></a></li>
                            <li><a title="Add Students" href="@Url.Action("Create","Jugadors")"><span class="mini-sub-pro">Inscribir Jugadores</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Llaves</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Courses" href="@Url.Action("Index","Equipoes")"><span class="mini-sub-pro">Ver Llaves</span></a></li>
                            <li><a title="Add Courses" href="@Url.Action("Create","Equipoes")"><span class="mini-sub-pro">Crear Llave</span></a></li>
                            <li><a title="Edit Courses" href="@Url.Action("Empezar","Equipoes")"><span class="mini-sub-pro">Empezar Llave</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Partidos</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Library" href="@Url.Action("Index","Partidoes")"><span class="mini-sub-pro">Ver Partidos</span></a></li>
                            <li><a title="All Library" href="@Url.Action("Create","Partidoes")"><span class="mini-sub-pro">Registrar Resultado</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Usuarios</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Departments List" href="@Url.Action("Index","Usuarios")"><span class="mini-sub-pro">Ver Usuario</span></a></li>
                            <li><a title="Add Departments" href="@Url.Action("Register","Account")"><span class="mini-sub-pro">Registrar Usuario</span></a></li>

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <li><a title="Add Departments" href="javascript:document.getElementById('logoutForm').submit()"><span class="mini-sub-pro">Cerrar Sesion</span></a></li>
                            }

                        </ul>
                    </li>


                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->
